body {
    font-family: 'AA Actual Mono';
    overflow: hidden;
    display: flex;
    background-color: lightgrey;
}

.container {
    height: 100vh;
    width: 100%;
    overflow: auto;
}

.home.container {
    background-image: url("images/greyflag.jpg");
    background-size: cover;
}

.name {
    font-size: 24px;
    letter-spacing: -1px;
}
.main-header {
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.secondary-header-links {
    display: flex;
    justify-content: space-between;
    width: 6rem;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: rgb(255, 255, 255);
}

a.header-link {
    color: rgb(10, 7, 179);
    border-bottom: 1.85px solid;
}
a.header-link:hover {
    color: #312a3b;
}

.header-link.top-nav {
    position: sticky;
    top: 1rem;
    margin-bottom: 1rem;
}

.work-list {
    padding: 12rem 0 0 10rem;
    list-style: none;
}
.work-list li:before {
    content: '\2014';
    position: relative;
    left: -20px;
    top: 17px;
    color: white;
}

.list-title {
    font-size: 24px;
    margin-bottom: 2rem;
    color: rgb(10, 7, 179);
}

.project {
    margin: 0 auto 30px auto;
}

.image {
    width: 100%;
    height: auto;
}

.image-container {
    display: flex;
    flex-flow: column;
    padding: 2vh;
}

.full-image {
    width: auto;
    max-width: 90vw;
    height: 90vh;
    object-fit: contain;
    margin: 0 auto 10px auto;
}

.large-video {
    max-width: 90vw;
    margin: 20px auto 20px auto;
}

.float-top {
    position: relative;
    top: 50px;
}

.float-bottom {
    position: relative;
    bottom: 50px;
}
