body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    background: #c7c7c7;
    min-height: 100vh;
}
.name {
    font-size: 24px;
}
.main-header {
    border-bottom: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
}
.projects-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.project-header {
    background: #7c7c99;
    padding: 5px;
    border-bottom: 1px solid black;
}
a {
    color: white;
    text-decoration: none;
    /* transition: color 200ms ease; */
}
a:hover {
    color: blue;
}
.project {
    max-width: 400px;
    display: flex;
    flex-flow: column;
    margin: 0 auto 15px auto;
    border: 1px solid black;
}
.image {
    width: 100%;
    height: auto;
}

.full-image {
    max-width: 90vw;
    height: auto;
    margin: 0 auto;
}